extends layout

block content

		.container 
			h3 Inscrivez vous avec votre adresse mail :

			//-on peut se passer de la méthod quand on est en full JS => (action="#", method="post")
			form.form
				.input.mail
					label(for="email") Adresse E-mail :
					input(
						type="email"
						, name="email"
						,class="inputForm email"
						,required
						)
				.psw
					label(for="pass") mot de passe :
					input(
						type="password"
						, name="pass"
						,class="inputForm pass"
						,minLength="6"
						,required
						)
				.firstName
					label(for="prenom") prénom : 
					input(
						type="text"
						, name="prenom"
						, class="inputForm prenom"
						)
				.lastName
					label(for="nom") Nom de famille :
					input(
						type="text"
						, name="nom"
						, class="inputForm nom"
						)
				.phoneNumber
					label(for="phone") Téléphone : 
					input(
						type="tel"
						, name="phone"
						, class= "inputForm phone"
						)
				.birthDate
					label(for="birth") Date de naissance : 
					input(
						type="date"
						, name="birth"
						, class= "inputForm birth"
						,min='4/09/1950'
						,max='4/09/2000'
						)
				.checked
					input(type="submit",class='inputForm check' value="Inscrivez vous")
				
		//-Attention le dossier public est la racine, pas besoin de mettre ../public
		script(src="/javascripts/form.js") 

